body,
html {
  height: 100%;
  overflow-y: hidden;
}

body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  text-decoration: none;
}

a {
  text-decoration: none;
}